.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - (48px*2));
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  position: relative;
  cursor: pointer;
  margin: 89px auto 0;
  min-height: 740px;
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
    margin: 89px 0 0;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin: 65px 0 0;
    min-height: 200px;
  }
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  z-index: 1;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 350ms ease;
}

.cover:hover::before {
  opacity: 0.8;
}
