.place {
  display: grid;
  grid-template-areas:
  'title website'
  'image text';
  grid-template-columns: 46.7% 1fr;
  gap: 48px 40px;
  margin-top: 76.5px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 47.5% 1fr;
    gap: 48px 32px;
    margin-top: 75px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: 47.2% 1fr;
    gap: 48px 28px;
    margin-top: 69px;
  }
}

@media screen and (max-width: 767px) {
  .place {
  grid-template-areas:
    'title'
    'website'
    'image'
    'text';
  grid-template-columns: 100%;
  margin-top: 48px;
  gap: 32px 28px;
  }
}
