/* @font-face {
	src: url('fonts/Inter-Regular.woff');
  font-family: 'Inter-Regular';
}

@font-face {
	src: url('fonts/Inter-Bold.woff');
  font-family: 'Inter-Bold';
}

@font-face {
	src: url('fonts/Inter-Italic.woff');
  font-family: 'Inter-Italic';
}

@font-face {
	src: url('fonts/Inter-Black.woff');
  font-family: 'Inter-Black';
} */

.page {
  max-width: 1280px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.wrapper {
  background-color: #2A2C2F;
  padding-top: 18px;
}

.header {
  max-width: 92.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  background-image: url(../images/header-logo.svg);
  background-size: cover;
  width: 176px;
  height: 52px;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 18px 0 0;
  font-size: 0;
}

.header__item {
  display: inline-block;
  margin-right: 18px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__lang-link {
  text-decoration: none;
  color: #fff;
  font-family: 'Inter-Regular';
  font-size: 24px;
}

.header__lang-link_active {
  text-decoration: underline;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  max-width: 984px;
  margin: 0 auto;
}

.lead__title {
  font-family: 'Inter-Black';
  font-size: 96px;
  line-height: 100px;
  color: #fff;
  text-align: center;
  margin: 0;
}

.lead__subtitle {
  font-family: 'Inter-Regular';
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  margin: 32px 0 0;
}

.lead__image {
  width: 100%;
  margin-top: 64px;
}

.lead__caption {
  font-family: 'Inter-Regular';
  font-size: 10px;
  line-height: 14px;
  color: #fff;
  align-self: flex-start;
  margin: 8px 0 0;
}

@media screen and (max-width: 1024px) {
    .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 768px) {
    .header__logo {
    width: 142px;
    height: 42px;
  }

    .header__lang-link {
    font-size: 18px;
  }

    .lead__title {
    font-size: 40px;
    line-height: 44px;
  }

    .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 16px 0 0;
  }

    .lead__image {
    margin-top: 40px;
  }
}

